
/* ======== Latest Products Section ======== */

#catalog ul {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.5rem 0;
}

#catalog li {
    flex-grow: 1;
    flex-basis: 16rem;
}

#catalog article {
    background-color: var(--color-orange);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 0.5rem;
}

#catalog article img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#catalog article div {
    padding: 1.5rem;
}

#catalog article a {
    margin-top: 1rem;
}
